<style>
.X{
height: 30px;
width: 30px;
border: 1px;
border-radius: 2px;
background-color:greenyellow;
margin: 3px;
padding: 5px;
display: inline-block;
text-align: center;  
}

.Other{
height: 30px;
width: 30px;
border: 1px;
border-radius: 2px;
background-color:yellow;
margin: 3px;
padding: 5px;
display: inline-block;
text-align: center;  
}
</style>
<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/top_nav') -%>
    <main class="container page-index">
    <br><br><br><br>
    <h2>RESULT</h2>
    <form class="form-inline" action="/problem1" method="get">
        <div class="form-group mb-2">
          <label>PATTERN :</label>
        </div>
        <div class="form-group mx-sm-3 mb-2"">
            <select class="form-control form-control-md" name="pattern">
                <option value="1" selected>PATTERN 1</option>
                <option value="2">PATTERN 2</option>
                <option value="3">PATTERN 3</option>
              </select>
        </div>
        <div class="form-group mx-sm-3 mb-2"">
            <label>INPUT :</label> 
        </div>
        <div class="form-group mx-sm-3 mb-2"">
          <input type="number" class="form-control" name="N" value="1" autocomplete="off"/>
      </div>
        <div class="form-group mx-sm-3 mb-2"">
            <input type="submit" class="btn btn-primary" value="submit"/>
      </div>
    </form>
    <%- result %>
    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script language="javascript" src="/static/vendor/jquery/jquery.min.js"></script>
    <script language="javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
