<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>
        <body>
        <%- include('partials/top_nav') -%>
        <main class="container page-index">
        <br><br><br><br>
        <h2>RESULT</h2>
        <form  class="form-inline" action="/problem3" method="get">
              <div class="form-group mb-2">
                <label>NAME :</label>
              </div>
                <div class="form-group mx-sm-3 mb-2"">
                 <input type="text" class="form-control" name="name" value="Leanne Graham" autocomplete="off"/>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <input type="submit" class="btn btn-primary" value="Search"/><br><br><hr>
              </div>
        </form>
        <textarea id="prettyJSONFormat" cols=100 rows=20><%- JSON.stringify(result[0]) %></textarea><br><br>
        <button class="btn btn-primary"" onclick="PrettyFormat()">Pretty JSON</button>
         </main>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script language="javascript" src="/static/vendor/jquery/jquery.min.js"></script>
        <script language="javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
        </body>
</html>
<script>
        function PrettyFormat() {
           var badJSON = document.getElementById('prettyJSONFormat').value;
           var parseJSON = JSON.parse(badJSON);
           var JSONInPrettyFormat = JSON.stringify(parseJSON, undefined, 4);
           document.getElementById('prettyJSONFormat').value =
           JSONInPrettyFormat;
        }
</script>