<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>
        <body>
        <%- include('partials/top_nav') -%>
        <main class="container page-index">
        <br><br><br><br>
        <h2>RESULT</h2>
        <form  class="form-inline" action="/problem2" method="get">
                <div class="form-group mb-2">
                  <label>DATE :</label>
                </div>
                  <div class="form-group mx-sm-3 mb-2"">
                   <input type="text" class="form-control" name="date_str" value="29/02/2020" autocomplete="off"/>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="submit" class="btn btn-primary" value="Search"/><br><br><hr>
                </div>
          </form>
        <%- result %>
         </main>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script language="javascript" src="/static/vendor/jquery/jquery.min.js"></script>
        <script language="javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
        </body>
</html>
        