<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/problem1">Problem1</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/problem2">Problem2</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/problem3">Problem3</a>
        </li>
      </ul>
    </div>
  </nav>